html, body {
    margin: 0;
    padding: 0; 
}
.nav {
    width: 100%;
    font-size: 16pt;
    font-family: 微軟正黑體;
    background-color: #f7f7f7;
}
.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav ul > li {
    float: left;
    border-right: 1px solid  #7f7f7f;
    border-top: 2px solid #00000000;
}

.nav ul > li:hover, .nav ul > .active {
    border-top: 2px solid #4caf50;
}

.nav ul > li > a{
    display: block;
    color: #646464;
    text-align: center;
    padding: 5px 12px;
    text-decoration: none;
}

#mainframe {
    margin-top: 20px;
}

#mainframe > div {
    float: left;
    padding: 5px;
    border-top: 5px solid #4caf50;
}

#mainframe > #page {
    width: 690px;
    background-color: #f7f7f7;
}

#mainframe > .menu {
    margin-left: 25px;
    width: 265px;
    background-color: #f7f7f7;
}

.menu h3 {
    margin: 0;
}

.preview {
    margin-left: auto;
    margin-right: auto;
    padding: 14px;
    /*border: 1px solid #afafaf;*/
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 #7f7f7f;
    color: #5d5d5d;
    margin-bottom: 15px;
}

.preview h1 {
    margin: 0;
}

.preview > h1 > a {
    color: #5d5d5d;
    text-decoration: none;
}

.preview > h1 > a:hover {
    color: #4caf50;
}

#news a {
    color: #5d5d5d;
    text-decoration: none;
}

#news a:hover {
    color: #4caf50;
}

.post {
    color: #5d5d5d;
}

.post > .title > h1 {
    margin-bottom: 10px;
}

.post > .content {
    padding-top: 15px;
}